CS417 Assignment 05
---
More Fun With Python
---

# Problem 1(Easy) 
Write a function named `occurrences` in Python  that takes a list and some object returns the a new list that
    contains the elements in the first list equal to the key.

In [48]:
#occurrences function
#input: list and key
#output: new list of items == to key object
def occurrences(myList, key):
    newList = []
    for x in myList:
        newList.append(key) if key == x else None
    return newList

stuff = ["how", "do", "you", "do", "?"]
print(occurrences(stuff, "do"))
print(occurrences(stuff, "don't"))

['do', 'do']
[]

# Problem 2 (Easy)
Write a function in Python named `numSmaller` that
    given a parameter containing a list of size 1 or greater and some
    numeric parameter returns the number of elements that are strictly
    **less** than that number.

In [4]:
#numSmaller function
#input: list and some target
#output: a new list of items smaller than target in input list
def numSmaller(sourceList, target):
    if not sourceList: return None
    results = []
    for x in sourceList:
        if x < target: 
            results.append(x)
    return results
nums = [1,2,3,4,5,6,7,8,9,10]
emptyList = []
print(numSmaller(nums, 5))
print(numSmaller(emptyList, 5))

[1, 2, 3, 4]
None

# Problem 3 (Easy) 
Write a function in Python named `secondSmallest`
    takes a list of size 1 or greater and returns the position of the
    second smallest element of the list.   In the case, where the
    smallest entry in the list occurs more than once, the second
    occurrence of the item would be the second smallest entry.  For
    example, in the list `[1,1,1,2,3]`, the position returned
    would be 1.

In [32]:
#secondSmallest function
#input: list
#output: position of second smallest element
#ASSUMING THE LIST ISN'T SORTED
def secondSmallest(myList):
    if not myList: return None
    
    small = myList.index(min(myList)) #min returns first occurrance of multiple smallest
    myList[small] = float('inf') #set smallest to infinity so we can ignore it, but also preserve indexing
    small = myList.index(min(myList))#now small is second smallest, or second occurance of smallest
    return small

nums1 = [10, 1, 4, 0, 18, 0, 0, 15, 3, 9000]
nums2 = [100,200,300,400]
print(str(nums1) + "\nThe index of the second smallest element is: " + str(secondSmallest(nums1)))
print(str(nums2) + "\nThe index of the second smallest element is: " + str(secondSmallest(nums2)))

[10, 1, 4, 0, 18, 0, 0, 15, 3, 9000]
The index of the second smallest element is: 5
[100, 200, 300, 400]
The index of the second smallest element is: 1

**Codey's Note:**
What the heck is pass by object reference? I started off by creating a copy of the original list so I wouldn't edit the source. During some research I found: https://robertheaton.com/2014/02/09/pythons-pass-by-object-reference-as-explained-by-philip-k-dick/
Now I'm extra confused. Considering the following:

In [43]:
def emptyList(myList):
    myList = []
    print(myList) #shows list within function scope is altered
def appList(myList):
    myList.append(2)

listA = [0]
listB = listA
listB.append(1)
print(listA)
listC = listA
emptyList(listC) #fails to alter passed list
print(listC)
appList(listC) #alters passed list
print(listC)
print(listA) #shows listA was also altered by passing ListC

[0, 1]
[]
[0, 1]
[0, 1, 2]
[0, 1, 2]

So function calls in Python work as a shallow copy?
I think what is the most confusing is how I can alter the elements through direct assignment in my function call and the source remains unchanged; BUT calling append() alters the original AND copies of that original? Further reading mentions mutable vs immutable types such as strings vs lists, and scope resolution. Times like this are when I miss C++.

# Problem 4 (Very Easy) 
You are given a text file that contains the timetable for buses
that travel a college campus.  The first line of the file
contains the name for each stop on the bus system separated by
colons.  Each following line contains the times using a 24-hour
clock at which each bus in the system will arrive at a bus stop,
also separated by colons.

The timetable will have the following format:

| BUS | Athens | Ardmore | Harvest| Huntsville| Athens|
|-----|--------|---------|--------|-----------|-------|
|48  | 0800 | 0830| 0845 | 0915 | 1015|
|49  | 0830 | 0900| 0915 | 0945 | 1045|
|50  | 0900 | 0930| 0945 | 1015 | 1115|

Write a program in Python that reads this file and outputs a row
for each bus stop, showing the times when a bus arrives at that
stop, formated in a table (remember... someone has already done it for you).

In [62]:
import pandas as pd
dataFrame = pd.read_csv('bussin.txt', sep=':')
dataFrame = dataFrame.transpose()
dataFrame = dataFrame.iloc[1:,] #we don't need the Bus Row, remove it
dataFrame.style

# Problem 5 (Medium) 
Continuing our theme of waiting on the bus, consider again the
bus timetable from the previous question.  The first line of the
file contains the name for each stop on the bus system separated
by colons.  Each following line contains the times using a
24-hour clock at which each bus in the system will arrive at a
bus stop, also separated by colons.  A sample file is attached to
this problem.

Write a Python program that for enumerates each of the bus stops and
departure times from that station with each value separated by a colon

The output from your program should be in the following
format:

Athens: 0800:0830:0900

Ardmore: 0830:0900:0930

Harvest: 0845:0915:0945

Huntsville: 0915:0945:1015

Athens: 1015:1045:1115

In [92]:
import pandas as pd
dataFrame = pd.read_csv('bussin.txt', sep=':', header=None)
dataFrame = dataFrame.T
dataFrame = dataFrame.iloc[1:,]
busList = dataFrame.values.tolist()
for x in busList:
    print(':'.join(x))

Westlake:620 :640 :658 :718 :738 :758 :818 :838 :858 :925 :955 :1025 : 1055 :1125 :1155 :1225 :1255
Eastlake:631 :651 :709 :729 :749 :809 :829 :849 :909 :935 :1005 :1035 :1105 :1135 :1205 :1235 :105
Victoria(NR):634 :654 :712 :732 :752 :812 :832 :852 :912 :939 :1009 :1039 :1109 :1139 :1209 :1239 :109
Embankment:641 :701 :719 :739 :759 :819 :839 :859 :919 :946 :1016 :1046 :1116 :1146 :1216 :1246 :116
Bank:645 :705 :723 :743 :803 :823 :843 :903 :924 :951 :1021 :1051 :1121 :1151 :1221 :1251 :121
King's Cross:655 :715 :735 :755 :815 :835 :857 :915 :935 :954 :1024 :1054 :1124 :1154 :1224 :1254 :124
 St. Pancras:701 :721 :741 :801 :821 :841 :902 :920 :940 :959 :1029 :1059 :1129 :1159 :1229 :1259 :129
Euston:710 :730 :750 :810 :830 :850 :909 :927 :947 :1006 :1036 :1106 :1136 :1206 :1236 :106 :136
Ealing Broadway:713 :733 :753 :813 :833 :853 :913 :931 :951 :1010 :1040 :1110 :1140 :1210 :1240 :110 :140
 Uxbridge:722:742:802:822:842:902:922:940:1000:1019:1049:1119:1149:1219:1249:119:149